* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	padding: 10px;
	background-color: black;
	color: darkgray;
}

.level {
	width: 100%;
	height: 18px;
	margin-bottom: 10px;
	position: relative;
}

.level:last-child {
	margin-bottom: 0px;
}

.segment {
	border-radius: 5px;
	padding: 0px 5px 0px 5px;
	height: 18px;
	position: absolute;
	background-color: darkgray;
}

.identify {
	width: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
    text-align: center;
}

.number {
	color: white;
}

.left {
	float: left;
}

.right {
	float: right;
}

.note {
	color: red;
}